{% extends "base.html" %}
{%block food%}
<header>
    <div class="navbar">
        <h1>zOOmpACt</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/login">More</a></li>
            </ul>
        </nav>
        <form  class="md-4">
            <div>


            <input type="search" class="form-control" name="search" placeholder="search" required>
            <button type="search" class="btn1">search</button>

            </div>
        </form>

    </div>
</header>
<div class="container1">


    {% for  pro in product%}
 

    <div class="col1">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{{pro.product_image.url}}" alt="Card image cap" style=" height:200px;">
            <div class="card-body">
              <h5 class="card-title">{{pro.product.product_name}}</h5>
              <p class="card-text">{{pro.product.product_description|truncatechars:50}}</p>
              <a href="#" class="btn btn-primary">add to cart</a>
            </div>


          </div><br><br>
    </div>
    {%endfor%}

</div>   


<div>


    {%if request.user.is_authenticated %}
        <a href='/logout' type="submit">logout</a>
    {%endif%}    


</div>

{%endblock%}