{% extends "base.html" %}
{%block food%}

<div class="hzoom">☲zOOmpACt☲</div>

<div class="container" style="width:300px ;margin-top:5%">
    <div class="col" >
        <form  method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label for="firstname" style="color:yellow ; font-size:21px">First name</label>
                <input type="text" class="form-control" name="first_name" id="firstname" placeholder="first name">
            </div>
    
            <div class="form-group">
                <label for="lastname"style="color:yellow ; font-size:21px">Last name</label>
                <input type="text" class="form-control" name="last_name" id="lastname" placeholder="firstname">
            </div>
    
            <div class="form-group">
                <label for="username"style="color:yellow ; font-size:21px">Username</label>
                <input type="text" class="form-control" name="username" id="username" placeholder="username">
            </div>

            <div class="form-group">
                <label for="email"style="color:yellow ; font-size:21px">email</label>
                <input type="eamil" class="form-control" name="email" id="email" placeholder="email">
            </div>
    
    
            <div class="form-group">
                <label for="password"style="color:yellow ; font-size:21px">Password</label>
                <input type="password" class="form-control" name="password" id="password" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
    </div>
</div>            
{%endblock%}