
.zoom{
    text-align:center;
    font-size: 50px;
    color:#df24d6    ;
    font-family: 'Times New Roman', Times, serif;

}
.row{
    margin-top:200px;
    height:20%;
    width:350px;
    border:6px solid white;
    padding-bottom:10px;
    border-radius:10px;
    color:white;



}
.hzoom{
    color:rgb(30, 51, 51);
    font-size: 100px;


}
.main{
    width:100%;
    height:100%;
}
body{
    background-image:url("Untitled design.jpg");
    background-repeat: no-repeat;
    background-size: cover;


}
