
.zoom{
    text-align:center;
    font-size: 50px;
    color:#5e525e    ;
    font-family: 'Times New Roman', Times, serif;

}
.row{
    margin-top:200px;
    height:20%;
    width:350px;
    border:6px solid white;
    padding-bottom:10px;
    border-radius:10px;
    color:rgb(113, 97, 97);



}
.hzoom{
    color:rgb(30, 51, 51);
    font-size: 100px;


}
.main{
    width:100%;
    height:100%;
}
body{
    background-image:url("pexels-ella-olsson-572949-1640773.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;


}

.table{
    height: 400px;
}
.card{
    height:320px;
}